#todayTab,#dailyTab,#weekTab{
    background-color: rgba(114,106,149,0.3);
    color:black;
    transition: 1s;
}

#todayTab:hover{
    background-color: rgba(53,31,57,0.5);
}
#dailyTab:hover{
    background-color: rgba(53,31,57,0.5);
}
#weekTab:hover{
    background-color: rgba(53,31,57,0.5);
}

.nav-link.active{
    background-color: rgba(53,31,57,0.75) !important;
    color: white !important;
}

#detailBtn,#detailBtn2{
    background-color: #719fb0;
    color:#212529;
    transition: 1s;
}

#detailBtn:hover,#detailBtn2:hover{
    background-color: #0d2e3a;
    color:white;
}

.card-header{
    background-color: #719fb0 ;
}

#dateSubmit{
    background-color: #719fb0;
    color:#212529;
    transition: 1s;
}

#dateSubmit:hover{
    background-color: #0d2e3a;
    color:white;
}